/*---------------barside*/
.barside {
        background: transparent;
    position: absolute;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 94%;
    transform: translate(-54% , -36%);
    width: 9%;
}
.barside:hover {
	    background: #F2F5F7;
}
.listbarside{
	list-style: none;
}
.linkbarside {
    width: 60px;
    height: 60px;
    
    text-align: center;
    line-height: 60px;
    font-size: 32px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: -3px solid #eee;
}
#fb{
background: #1636b3;
}
#g{
background: #ea1515;
}
#linkdin{
background: #0274B3;
}
#twit{
background: #1DA1F2;
}
.linkbarside 
{
	/*background: #fff;*/
}
.linkbarside .fab {
    position: relative;
    color: #eee;
    transition: .5s;
}
.linkbarside:hover .fab{
	transform: rotateY(360deg);

}
.linkbarside:before{
	content:"" ;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: red;
	transition:  .5s;
}
.linkbarside:hover:before{
	top:0;
}

/*------------------------*/
.text{
	font-family: 'Roboto', sans-serif;
	/*text-align: center;*/
}
h1{
	font-family: 'Roboto', sans-serif;
}
.all {
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    width: 83%;
    margin-left: 55px;
}
